name = "HMMDiscretization"
uuid = "39c49a46-f006-40e3-92b6-71c9dffd4e78"
authors = ["Zoltán Rácz"]
version = "0.1.0"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
